# PostgreSQL Configuration
PSQL_DSN=postgresql+asyncpg://postgres:Rushan@localhost:5433/usersdb
PSQL_HOSTNAME=db
PSQL_DB=usersdb
PSQL_USERNAME=postgres
PSQL_PASSWORD=Rushan

# Redis Config
REDIS_DSN=redis://redis:6379/0

# Security
SECURITY_JWT_SECRET_KEY=jSLjxnanjsijf1U2NnLjXMjab82kxzZX
SECURITY_ALGORITHM=HS256
SECURITY_ACCESS_TOKEN_EXPIRE=60
SECURITY_REFRESH_TOKEN_EXPIRE_DAYS=30